<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Login</h1>
  

  <form action="/login" method="post">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <button type="submit">Ingresar</button>
    </div>
    <a href="/register">Registrarse</a>
  </form>
</body>
</html>